<div class="translate-bar">
  <div class="smt-selector">
    <nav aria-labelledby="{{langnav}}">
      <ul class="smt-menu">
        <li class="smt-trigger">
          <a class="smt-trigger-link" tabindex="0">
            <span class="smt-lang" id="{{langnav}}">Translate</span>
          </a>
          <ul class="language-links">
            <li class="smt-item">
              {% if language_access_stripwww == '1' %}
                <a translate="no" lang="en" class="smt-link sl_norewrite" href="https://{{ noprotocolsite_url|replace({'www.': ''}) }}">English</a>
              {% else %}
                <a translate="no" lang="en" class="smt-link sl_norewrite" href="https://{{ noprotocolsite_url}}">English</a>
              {% endif %}
            </li>
            <li class="smt-item">
              <a translate="no" lang="es" class="smt-link sl_norewrite" href="https://es.{{ noprotocolsite_url|replace({'www.': ''}) }}">Español</a>
            </li>
            <li class="smt-item">
              <a translate="no" lang="zh" class="smt-link sl_norewrite" href="https://zh.{{ noprotocolsite_url|replace({'www.': ''}) }}">中文</a>
            </li>
            <li class="smt-item">
              <a translate="no" lang="zh-HK" class="smt-link sl_norewrite" href="https://zh-traditional.{{ noprotocolsite_url|replace({'www.': ''}) }}">繁體中文</a>
            </li>
            <li class="smt-item">
              <a translate="no" lang="ru" class="smt-link sl_norewrite" href="https://ru.{{ noprotocolsite_url|replace({'www.': ''}) }}">Русский</a>
            </li>
            <li class="smt-item">
              <a translate="no" lang="yi" class="smt-link sl_norewrite" href="https://yi.{{ noprotocolsite_url|replace({'www.': ''}) }}">יידיש</a>
            </li>
            <li class="smt-item">
              <a translate="no" lang="bn" class="smt-link sl_norewrite" href="https://bn.{{ noprotocolsite_url|replace({'www.': ''}) }}">বাংলা</a>
            </li>
            <li class="smt-item">
              <a translate="no" lang="ko" class="smt-link sl_norewrite" href="https://ko.{{ noprotocolsite_url|replace({'www.': ''}) }}">한국어</a>
            </li>
            <li class="smt-item">
              <a translate="no" lang="ht" class="smt-link sl_norewrite" href="https://ht.{{ noprotocolsite_url|replace({'www.': ''}) }}">Kreyòl Ayisyen</a>
            </li>
            <li class="smt-item">
              <a translate="no" lang="it" class="smt-link sl_norewrite" href="https://it.{{ noprotocolsite_url|replace({'www.': ''}) }}">Italiano</a>
            </li>
            <li class="smt-item">
              <a translate="no" lang="ar" class="smt-link sl_norewrite" href="https://ar.{{ noprotocolsite_url|replace({'www.': ''}) }}">العربية</a>
            </li>
            <li class="smt-item">
              <a translate="no" lang="pl" class="smt-link sl_norewrite" href="https://pl.{{ noprotocolsite_url|replace({'www.': ''}) }}">Polski</a>
            </li>
            <li class="smt-item">
              <a translate="no" lang="fr" class="smt-link sl_norewrite" href="https://fr.{{ noprotocolsite_url|replace({'www.': ''}) }}">Français</a>
            </li>
            <li class="smt-item">
              <a translate="no" lang="ur" class="smt-link sl_norewrite" href="https://ur.{{ noprotocolsite_url|replace({'www.': ''}) }}">اردو</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div><!--/translate-bar-->