{% block toolbar %}

  {% set icon %}
    {{ include('@webprofiler/Icon/006--blocks.svg') }}
    <span class="sf-toolbar-value">{{ collector.getRenderedBlocksCount }}</span>
  {% endset %}

  {% set text %}
    <div class="sf-toolbar-info-piece">
      <b>Loaded blocks</b>
      <span class="sf-toolbar-status">{{ collector.getLoadedBlocksCount }} {% if collector.getLoadedBlocksCount == 0 %}({{ 'Maybe some are cached'|t }}){% endif %}</span>
    </div>
    <div class="sf-toolbar-info-piece">
      <b>Rendered blocks</b>
      <span class="sf-toolbar-status">{{ collector.getRenderedBlocksCount }} {% if collector.getRenderedBlocksCount == 0 %}({{ 'Maybe some are cached'|t }}){% endif %}</span>
    </div>
  {% endset %}

  {{ include('@webprofiler/Profiler/toolbar_item.html.twig', { link: profiler_url }) }}
{% endblock %}

{% block panel %}
  {{ collector.panel() }}
{% endblock %}
