{% block toolbar %}

  {% set icon %}
    {{ include('@webprofiler/Icon/form.svg') }}
    <span class="sf-toolbar-value">{{ collector.getFormsCount }}</span>
  {% endset %}

  {% set text %}
    {% if collector.getForms|length == 0 %}
      <div class="sf-toolbar-info-piece">
        <b>{{ 'No forms collected'|t }}</b>
      </div>
    {% endif %}

    {% for key, form in collector.getForms %}
      <div class="sf-toolbar-info-piece">
        <b>{{ key }}</b>
        <span>
          <a
            href="{{ form.class.file|file_link(form.class.line) }}"
            title="{{ form.class.class }}">
            {{ form.class.class|abbr_class|striptags }} :: {{ form.class.method }}
          </a>
        </span>
      </div>
    {% endfor %}
  {% endset %}

  {{ include('@webprofiler/Profiler/toolbar_item.html.twig', { link: profiler_url }) }}
{% endblock %}

{% block panel %}
  {{ collector.panel() }}
{% endblock %}
