{% block toolbar %}

  {% set icon %}
    {{ include('@webprofiler/Icon/012--http.svg') }}
    <span class="sf-toolbar-value">{{ collector.completedRequestsCount }}</span>
  {% endset %}

  {% set text %}
    <div class="sf-toolbar-info-piece">
      <b>{{ 'Completed'|t }}</b>
      <span class="sf-toolbar-status">{{ collector.completedRequestsCount }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
      <b>{{ 'Failed'|t }}</b>
      <span class="sf-toolbar-status">{{ collector.failedRequestsCount }}</span>
    </div>
  {% endset %}

  {{ include('@webprofiler/Profiler/toolbar_item.html.twig', { link: profiler_url }) }}
{% endblock %}

{% block panel %}
  {{ collector.panel() }}
{% endblock %}
