{% block toolbar %}

  {% set icon %}
    {{ include('@webprofiler/Icon/mailer.svg') }}
    <span class="sf-toolbar-value">{{ collector.getMailSent }}</span>
  {% endset %}

  {% set text %}
    <div class="sf-toolbar-info-piece">
      <b>{{ 'Mail sent'|t }}</b>
      <span class="sf-toolbar-status">{{ collector.getMailSent }}</span>
    </div>
  {% endset %}

  {{ include('@webprofiler/Profiler/toolbar_item.html.twig', { link: profiler_url }) }}
{% endblock %}

{% block panel %}
  {{ collector.panel() }}
{% endblock %}
