{% block toolbar %}

  {% set icon %}
    {{ include('@webprofiler/Icon/translation.svg') }}
    <span class="sf-toolbar-value">{{ collector.getUntranslatedCount }}</span>
  {% endset %}

  {% set text %}
    <div class="sf-toolbar-info-piece">
      <b>{{ 'Translated'|t }}</b>
      <span class="sf-toolbar-status">{{ collector.getTranslatedCount }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
      <b>{{ 'Untranslated'|t }}</b>
      <span class="sf-toolbar-status">{{ collector.getUntranslatedCount }}</span>
    </div>
  {% endset %}

  {{ include('@webprofiler/Profiler/toolbar_item.html.twig', { link: profiler_url }) }}
{% endblock %}

{% block panel %}
  {{ collector.panel() }}
{% endblock %}
