{% block toolbar %}

  {% set icon %}
    {{ include('@webprofiler/Icon/user.svg') }}
    <span class="sf-toolbar-value">{{ collector.username }}</span>
  {% endset %}

  {% set text %}
    {% if collector.authenticated %}
      <div class="sf-toolbar-info-piece">
        <b>{{ 'Logged in as'|t }}</b>
        <span>{{ collector.username }}</span>
      </div>
      <div class="sf-toolbar-info-piece">
        <b>Authenticated</b>
        <span class="sf-toolbar-status sf-toolbar-status-{{ collector.authenticated ? 'green' : 'yellow' }}">{{ collector.authenticated ? 'Yes' : 'No' }}</span>
      </div>
      <div class="sf-toolbar-info-piece">
        <b>{{ 'Roles'|t }}</b>
        <span>{{ collector.roles|join(', ') }}</span>
      </div>
      <div class="sf-toolbar-info-piece">
        <b>{{ 'Authenticated by'|t }}</b>
        <span>{{ collector.provider }}</span>
      </div>
    {% else %}
      <div class="sf-toolbar-info-piece">
        <b>{{ collector.anonymous }}</b>
      </div>
    {% endif %}
  {% endset %}

  {{ include('@webprofiler/Profiler/toolbar_item.html.twig', { link: false }) }}
{% endblock %}
